<!doctype html>
<html lang="en" data-ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title}}</title>
    <link rel="stylesheet" href="/assets/css/basscss.css">
    <link rel="stylesheet" href="/assets/css/viewer.css">
</head>
<body>
<div class="container" ng-controller="AppCtrl">
    <div class="">
        <pdf-viewer
                delegate-handle="my-pdf-container"
                url="pdfUrl"
                scale="1"
                show-toolbar="true"
                headers="{'x-you-know-whats-awesome': 'EVERYTHING'}"></pdf-viewer>
    </div>
</div>
<!--<script src="/libs/pdfjs-dist/build/pdf.combined.js"></script>-->
<!--<script src="/libs/angular/angular.min.js"></script>-->
<!--<script src="/libs/jquery/dist/jquery.min.js"></script>-->
<!--<script src="/assets/js/viewer/delegate-service.js"></script>-->
<!--<script src="/assets/js/viewer/pdf-viewer-delegate.js"></script>-->
<!--<script src="/assets/js/viewer/pdf-ctrl.js"></script>-->
<!--<script src="/assets/js/viewer/pdf-viewer.js"></script>-->
<!--<script src="/assets/js/viewer/pdf-viewer-toolbar.js"></script>-->
<script src="/assets/js/dist/f3fe9466-6bad-46cb-9783-cec1226c2bba-e8f5d2ec-15cf-4ad7-8280-f9e528bde5bb.min.js"></script>
<script>
    angular.module('testApp', ['pdf'])
            .controller('AppCtrl', [
                '$scope',
                'pdfDelegate',
                '$timeout',
                function ($scope, pdfDelegate, $timeout) {
                    $scope.pdfUrl = '/documentos/pdf/{{ file }} ';

                    $scope.loadNewFile = function (url) {
                        pdfDelegate
                                .$getByHandle('my-pdf-container')
                                .load(url);
                    };
                    $scope.loadNewFile('/documentos/pdf/{{ file }}');

                }]);
</script>
</body>
</html>