<section data-background="/photos/{{ user }}/sunset-174276_1280.jpg">
    <p>{{ nombre }} <br>{{ apellido }}</p>
    <p><small>...</small></p>
    <h3 class="css-typing"> <span data-typer-targets="... "> </span></h3>
</section>
<section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">Vertical Slide 1</p>
    </section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">Vertical Slide 2</p>
    </section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">Vertical Slide 3</p>
    </section>
</section>
<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">Single Horizontal Slide 2</p>
</section>
<section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">Vertical Slide 4</p>
    </section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre">Vertical Slide 5</p>
    </section>
</section>