<style>
    .pra{
        background: #fff;
    }
</style>
<section data-background="/photos/{{ user }}/laptop.jpg">
    <p>{{ nombre }} <br>{{ apellido }}</p>
    <p><small>...</small></p>
    <h3 class="css-typing"> <span data-typer-targets="... "> </span></h3>
</section>
<section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre ">Álgebra Booleana</p>
        <p class="pre pra">
            El álgebra booleana es un sistema matemático deductivo centrado en los valores cero y uno (falso y verdadero).
            Un operador binario " º " definido en éste juego de valores acepta un par de entradas y produce un solo valor booleano, por ejemplo, el operador booleano AND acepta dos entradas booleanas y produce una sola salida booleana.
            Para cualquier sistema algebraico existen una serie de postulados iniciales, de aquí se pueden deducir reglas adicionales, teoremas y otras propiedades del sistema, el álgebra booleana a menudo emplea los siguientes postulados.
        </p>
    </section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre pra">
            •	Cerrado. El sistema booleano se considera cerrado con respecto a un operador binario si para cada par de valores booleanos se produce un solo resultado booleano.
        </p>
        <p class="pre pra">
            •	Conmutativo. Se dice que un operador binario " º " es conmutativo si A º B = B º A para todos los posibles valores de A y B.
        </p>
    </section>
    <section data-background="/photos/gray-carpet-and-white.jpg">
        <p class="pre pra">
            •	Asociativo. Se dice que un operador binario " º " es asociativo si (A º B) º C = A º (B º C) para todos los valores booleanos A, B, y C.
        </p>
        <p class="pre pra">
            •	Distributivo. Dos operadores binarios " º " y " % " son distributivos si A º (B % C) = (A º B) % (A º C) para todos los valores booleanos A, B, y C.
        </p>
    </section>
    <section data-background-transition="/photos/gray-carpet-and-white.jpg">
        <p class="pre pra">
            •	Identidad. Un valor booleano I se dice que es un elemento de identidad con respecto a un operador binario " º " si A º I = A.
        </p>
    </section>
</section>
<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">Álgebra Booleana y circuitos electrónicos</p>
    <p class="pre pra">
        La relación que existe entre la lógica booleana y los sistemas de cómputo es fuerte,
        de hecho se da una relación uno a uno entre las funciones booleanas y los circuitos electrónicos de compuertas digitales.
        Para cada función booleana es posible diseñar un circuito electrónico y viceversa, como las funciones booleanas solo requieren de los operadores AND, OR y NOT
    </p>
</section>
<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">Circuitos Combinacionales</p>
    <p class="pre pra">
        Un circuito combinacional es un sistema que contiene operaciones booleanas básicas (AND, OR, NOT),
        algunas entradas y un juego de salidas, como cada salida corresponde a una función lógica individual,
        un circuito combinacional a menudo implementa varias funciones booleanas diferentes,
        es muy importante recordar éste echo, cada salida representa una función booleana diferente.
    </p>
</section>
<section data-background="/photos/gray-carpet-and-white.jpg">
    <p class="pre">Relación entre la lógica combinacional y secuencial con la programación</p>
    <p class="pre pra">
        En ésta lección hemos dado una repasada muy básica a los elementos que forman la base de los modernos sistemas de cómputo, en la sección dedicada al diseño electrónico estudiaremos.
    </p>
</section>