<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="description" content="Portafolio">
    <meta property="og:title" content="Portafolio" />
    <meta property="og:description" content="Portafolio" />
    <meta property="og:image" content="" />
    <!--<link rel="stylesheet" href="/assets/css/effect2.css">-->
    <!--<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/assets/icons/style.css">-->
    <!--<link rel="stylesheet" href="/assets/css/icononav.css">-->
    <!--<link rel="stylesheet" href="/assets/css/flat.css" >-->
    <!--<link rel="stylesheet" href="/assets/font/clarendon/stylesheet.css">-->
    <!--<link rel="stylesheet" href="/assets/font/sinkin/sinkin.css">-->
    <!--<link rel="stylesheet" href="/assets/css/portafolio.css">-->
    <!--<link rel="stylesheet" href="/assets/css/basscss.min.css"  />-->
    <!--<link rel="stylesheet"  href="/assets/css/base.css" />-->
    <link rel="stylesheet" href="/assets/css/dist/61c5d103-5fcc-425a-8c84-d4d0435899-cf751fc8e1-fc1d-4a14-a79b-4b54b20dd20a.min.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav id="icononav">

    <ul class="links">
        <br>
        <li>
            <a class=" active" href="/" target="_parent">
                <img src="/assets/img/0047_home_flat.svg" alt="" class=" icon"><br><br> Inicio</a>
        </li>
        <li>
            <!--<span class="alert">1</span>-->
            <a class="delay" href="/portafolio">
                <img src="/assets/img/0119_folder_open_full_documents.svg" alt="" class=" icon"><br><br>Portafolio</a>
        </li>
        <li>
            <a class="delay" href="/docs" target="_parent">
                <img src="/assets/img/0936_book_wall_shelf.svg" alt="" class=" icon"><br><br> Documentos</a>
        </li>
        <li>
            <a class="delay" href="/utilidades" target="_parent">
                <img src="/assets/img/0940_hammer_home_utilities.svg" alt="" class=" icon"><br><br>Utilidades</a>
        </li>
        <li>
            <a class="delay" href="/photos" target="_parent">
                <img src="/assets/img/0630_photo_wall_frame.svg" alt="" class=" icon"><br><br>Photos</a>
        </li>
    </ul>
    <!--<ul class="links lower">-->
        <!--<li>-->
            <!--<a class="delay" href="/logout" target="_parent">-->
                <!--<img src="/assets/img/0947_power_on_off.svg" alt="" class=" icon"><br><br>Logout</a>-->
        <!--</li>-->
    <!--</ul>-->
</nav>
{{{body}}}
<!--<script src="/libs/jquery/dist/jquery.min.js"></script>-->
<!--<script src="/assets/js/scripts.min.js"></script>-->
<!--<script src="/libs/jquery.nicescroll/jquery.nicescroll.min.js"></script>-->
<!--<script src="/assets/js/modernizr.custom.js"></script>-->
<!--<script src="/assets/js/classie.js"></script>-->
<!--<script src="/assets/js/pathLoader.js"></script>-->
<!--<script src="/assets/js/jquery.slides.min.js"></script>-->
<!--<script src="/assets/js/nice.js"></script>-->
<!--<script src="/assets/js/overlay.js"></script>-->
<script src="/assets/js/dist/61c5d103-5fcc-425a-8c84-d4d0435899-cf751fc8e1-fc1d-4a14-a79b-4b54b20dd20a.min.js" id="script"></script>
</body>
</html>