<style>
    .jumbotron{
        background: #fff;
    }
    .jumbotron > h1{
        font-size: 3em;
        color: #561739;
    }
    .thumbnail{
        border: rgba(0, 0, 0, 0.01);
    }
</style>
<div class="jumbotron">
    <h1 class="text-center utec">Universidad Tecnol&oacute;gica <br> de El Salvador</h1>
    <div class="thumbnail">
        <img src="/assets/img/logo_utec.svg" alt="Lights"  class="img" style="width:10%">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-center">
                <p><strong>Materia:</strong> Organizaci&oacute;n de las computadoras</p>
                <p><strong>Docente:</strong> Lic. Marvin Elenilson Hernandez Montoya</p>
                <p><strong>Secci&oacute;n:</strong> 01</p>
                <strong>Integrantes:</strong>
            </h4>

            {{{table data.users 'Nombres Apellidos Carn&eacute;'}}}
        </div>
    </div>
</div>