<!--<div id="ip-container" class="ip-container">-->
    <!--&lt;!&ndash; initial header &ndash;&gt;-->
    <!--<div class="ip-header">-->
        <!--<h1 class="ip-logo flex justify-center col-md-12 centered">-->
            <!--<img src="/assets/img/logo_utec.svg" id="logo-ww"  width="50%" height="50%">-->
        <!--</h1>-->
        <!--<div class="ip-loader">-->
            <!--<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">-->
                <!--<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>-->
                <!--<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>-->
            <!--</svg>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center utec">Universidad Tecnol&oacute;gica <br> de El Salvador</h1>
        </div>
        <div class="col-md-12 centered">
            <div class="thumbnail">
                <img src="/assets/img/logo_utec.svg" alt="Lights"  class="img" style="width:17%">
            </div>
        </div>

        <div class="col-sm-12">
            <h4 class="text-center">
                <strong>Materia:</strong>
                <p>Organizaci&oacute;n de las computadoras</p>
            </h4>
            <h4 class="text-center">
                <strong>Docente:</strong>
                <p>Lic. Marvin Elenilson Hernandez Montoya</p>
            </h4>
            <h4 class="text-center">
                <strong>Secci&oacute;n:</strong>
                <p>01</p>
            </h4>
            <h4 class="text-center">
                <strong>Integrantes:</strong> </h4>
        </div>
        {{{table data.users 'Nombres Apellidos Carn&eacute;'}}}
        <div class="col-sm-12">
            <h4 class="text-center">

            </h4>
        </div>
    </div>
</div>
<script src="/assets/js/main.js"></script>