<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <title>{{title}}</title>
</head>
<body>
    <h1 class="text">Diferentes molex usados en la motherboard</h1>
    <img src="/assets/img/pc/d841da87_ATX20Pinout.jpeg" alt="diferentes molex">
</body>
</html>