<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>

        .img1 {
            position:absolute;
            top:0;
            left:0;
            z-index:1;
            visibility:visible;
        }

        .img1:hover{

            visibility: hidden;
        }

        .img2 {
            position:absolute;
            z-index:0;
        }
    </style>
</head>
<body>
<img class="img1" src="/assets/img/pc/ab60pn_mask.png" alt="">
<img class="img2" src="/assets/img/pc/ab60pn.png" alt="">
</body>
</html>