<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <title>{{title}}</title>
</head>
<body>
    <img src="/assets/img/pc/parts.png" alt="">
</body>
</html>