<div class="container">
    <div class="col-sm-12">
        <h1 class="text-center">Potafolio</h1>
    </div>
</div>
<div class="container">
    <main class="flex flex-wrap justify-start">
        {{{portafolio data.users}}}
    </main>
</div>